/* your code */
body{
	box-sizing: arial, sans-serif;
	border-color: 0ffffff;
	padding: 50px;
}
table{
	width: 90%;
		margin: auto;
	border-collapse:collapse;
	border-radius:20px;
	overflow:hidden;
	font-size: 20px;
}
thead{
	background-color: #286293;
		color:white;
}
th{
	padding: 25px;
	text-align:left;
	font-weight: bold;
	}
td{
	padding:25px;
	color: #444;
}
tbody tr:nth-child(even){
	background-color: #dddddd;
}
tbody tr:nth-child(odd){
	background-color: #ffffff;
}
tbody tr:hover{
	background-color: #cfd8dc;
}